.header {
  @apply fixed top-0 left-0 right-0 z-50 px-8 xl:px-16 py-6 xl:py-8 flex items-center duration-300;
  &--scrolled {
    @apply bg-[#0d0c0f] py-6;
  }
  &--left {
    @apply flex flex-1 justify-start;
    img {
      @apply block w-full max-w-[160px] object-contain;
    }
  }
  &--center {
    flex: 0 0 auto;
    @apply hidden gap-6 xl:gap-8 lg:flex;
  }
  &--right {
    @apply hidden gap-3 justify-end flex-1 lg:flex;
  }
  &--mobile {
    @apply fixed top-0 right-0 bottom-0 bg-[#0d0c0f] w-full max-w-[320px] lg:hidden translate-x-[320px] duration-300;
    &--active {
      @apply translate-x-0;
    }
    &__inner {
      @apply px-6 pt-24;
      a {
        @apply block mb-3;
      }
      .auth-buttons {
        @apply flex gap-3 mt-6;
        a {
          @apply w-full;
        }
      }
    }
  }
  .hamburger {
    @apply block lg:hidden cursor-pointer z-50;
    &:hover {
      span {
        background-color: #41bb8e !important;
      }
    }
    &-active {
      span {
        background-color: #41bb8e !important;
        &:nth-child(1) {
          margin-bottom: -3px !important;
          transform: rotate(45deg) !important;
        }
        &:nth-child(2) {
          @apply opacity-0 -mb-[2px] -translate-x-10;
        }
        &:nth-child(3) {
          margin-bottom: 0 !important;
          width: 30px !important;
          transform: rotate(-45deg) !important;
        }
      }
      &:hover {
        span {
          background-color: white !important;
        }
      }
    }
    span {
      @apply block h-[3px] w-[30px] mb-[5px] bg-white opacity-100 duration-300;
      &:last-child {
        @apply mb-0;
      }
    }
  }
  .link {
    @apply hover:text-[#41bb8e] duration-300;
  }
}
