h1 {
  font-size: clamp(32px, 5vw, 48px) !important;
  line-height: 1.4;
}

h2 {
  font-size: clamp(24px, 4vw, 40px) !important;
  line-height: 1.4;
}

h3 {
  font-size: clamp(19px, 3vw, 32px) !important;
  line-height: 1.4;
}

h4 {
  font-size: clamp(18px, 2.5vw, 24px) !important;
  line-height: 1.4;
}

h5 {
  font-size: clamp(16px, 2vw, 19px) !important;
  line-height: 1.4;
}

h6 {
  font-size: clamp(0.9em, 1.5vw, 16px) !important;
  line-height: 1.4;
}

p {
  font-size: clamp(16px, 1.5vw, 18px) !important;
  line-height: 1.4;
}

p.small {
  font-size: 12px !important;
  line-height: 1;
}

a {
  font-size: 16px !important;
}
